html body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "form"
    "map"
    "footer";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  grid-area: header;

  background-image: url(assets/man-baby.png);
  background-position: 75% 100%;
  background-size: 13% 85%;
  background-repeat: no-repeat;
  background-color: #c7ddea;
}

header > h1 {
  color: black;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 4rem;
}

nav {
  display: flex;
  flex-direction: row;
  grid-area: nav;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

nav a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: rgb(153, 153, 153);
}

nav > .active {
  color: black;
}

.message-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  grid-area: form;
  background-color: rgb(153, 153, 153);
  height: 80vh;
}

.message-area-item {
  height: 90%;
  width: 50%;
  text-align: left;
  justify-self: center;
  align-self: center;
  margin-bottom: 150px;
  margin-top: 75px;
}

.message-area-item > h1 {
  font-size: 72px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 80px;
}

.message-area-item > form {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  width: 70%;
}

.message-area-item > form > label {
  color: rgb(226, 226, 226);
  font-size: 22px;
}

.message-area-item > form > .input-email {
  width: 100%;
  height: 60px;
  font-size: 38px;
  border-radius: 4px;
  border: none;
  margin-bottom: 50px;
}

.message-area-item > form > .input-message {
  border-radius: 4px;
  width: 100%;
  height: 300px;
  font-size: 38px;
  border: none;
}

.message-area-item > form > button {
  padding: 1.5rem;
  width: 35%;
  border-radius: 34px;
  margin-top: 1.5rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.199);
  align-self: flex-end;
  font-size: 1rem;
}

.visit-us {
  height: 65vh;
  background-image: url(assets/map-background.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.visit-us > .address {
  margin-top: 80px;
  margin-left: 150px;
  width: 550px;
  height: 300px;
  background-color: #fab131;
  padding-top: 50px;
}

.visit-us > .address > h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0px;
}

.visit-us > .address > p {
  color: white;
  font-size: 24px;
  padding-left: 65px;
}

footer {
  height: 40vh;
  background-color: #757575;
}

@media only screen and (max-width: 768px) {
  header {
    background-position: 90% 100%;
    background-size: 25% 70%;
  }

  header > h1 {
    font-size: 3rem;
    text-align: left;
  }

  nav {
    padding: 0;
  }

  .message-area {
    flex-direction: column;
    height: auto;
    padding-bottom: 150px;
  }

  .message-area > .title {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
  }

  .message-area > .inputs {
    margin-top: 20px;
  }

  .message-area > .message-area-item {
    width: 100%;
    height: auto;
  }

  .message-area > .message-area-item > h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 54px;
  }

  .message-area > .message-area-item > form {
    width: 90%;
    margin: auto;
  }

  .message-area > .message-area-item > form > .input-email {
    align-self: center;
  }

  .message-area > .message-area-item > form > button {
    margin-top: 40px;
  }

  .visit-us {
    height: 70vh;
    display: flex;
    justify-content: center;
    background-position: bottom;
  }

  .visit-us > .address {
    margin: 0;
    position: relative;
    top: -150px;
    height: 250px;
  }

  .visit-us > .address > h1 {
    font-size: 54px;
  }

  .visit-us > .address > p {
    font-size: 22px;
    padding-left: 110px;
  }

  footer {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  header {
    background-position: 85% 100%;
    background-size: 50%;
    height: 50vh;
    align-items: center;
    justify-content: flex-start;
  }

  header > h1 {
    width: 50%;
    font-size: 66px;
  }
}
