html body {
  margin: 0;
  padding: 0;
  background-color: #fffbfb;
}

h1 h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 40px;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "join join join"
    "info info info"
    "instructions instructions instructions"
    "footer footer footer";
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 80vh;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  background-color: #c7ddea;
  text-align: left;
  background-image: url(assets/family.png);
  background-size: 60% 55%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.header-left h1 {
  margin-top: 20%;
  margin-left: 20%;
}

.header-left p {
  margin-left: 20%;
  margin-right: 20%;
}

.header-left button {
  padding: 0.7rem;
  width: 20%;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 1.2rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: center;
}
.header-item-right-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-color: #f17949;
}

.header-item-right-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-color: #fab131;
}

nav {
  display: flex;
  flex-direction: row;
  grid-area: nav;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 14vh;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

nav a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: black;
}

.join-now {
  display: flex;
  flex-direction: row;
  grid-area: join;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 85vh;
  background-color: #a9a19e;
}

.join-now-text-box {
  width: 50%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
  align-items: flex-start;
}

.join-now-text-box h1 {
  color: white;
  font-size: 64px;
}

.join-now-text-box p {
  margin-right: 15%;
  margin-top: 10%;
  line-height: 1.8;
}

.join-now-text-box button {
  padding: 1rem;
  width: 35%;
  border-radius: 1.5rem;
  margin-top: 1.2rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.infoboxes {
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-image: linear-gradient(
    to bottom,
    #a9a19e,
    #a9a19e 50%,
    #fab131,
    #fab131 50%
  );
  background-color: #a9a19e;
  padding-left: 10%;
  padding-right: 10%;
}

.infoboxes > .infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 40px;
  padding-bottom: 40px;
}

.infoboxes .container {
  background-color: white;
  border-radius: 6px;
}

.infoboxes .imgcontainer {
  height: 12vw;
  background-color: #c7ddea;
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

  background-size: cover;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-position-y: 20px;
}

.infoboxes > .infobox h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 22px;
}

.infoboxes > .infobox p {
  font-family: "Fira Sans", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  color: black;
  opacity: 40%;
  font-size: 16px;
  font-weight: bold;
}
.infoboxes .children {
  background-color: #c7ddea;
  background-image: url("assets/child.png");
}
.infoboxes .oldfart {
  background-color: #f17949;
  background-image: url("assets/old.png");
}
.infoboxes .justright {
  background-color: #fab131;
  background-image: url("assets/adult.png");
}
