html body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

h1 h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 40px;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "join join join"
    "info info info"
    "about-us about-us about-us"
    "instructions instructions instructions"
    "footer footer footer";
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 80vh;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  background-color: #c7ddea;
  text-align: left;
  background-image: url(assets/family.png);
  background-size: 52% 45%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.header-left h1 {
  font-family: "Frank Ruhl Libre", serif;
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 0px;
  font-size: 4rem;
}

.header-left p {
  margin-left: 20%;
  margin-right: 30%;
  line-height: 1.8;
  font-size: 18px;
}

.header-left > p > .white {
  color: white;
}

.header-left button {
  padding: 0.7rem;
  width: 20%;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 1.2rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: center;
}

.header-item-right-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-color: #f17949;
}

.header-item-right-top > p {
  margin: 0;
  font-size: 1rem;
}

.header-item-right-top > h3 {
  color: white;
  font-size: 3rem;
  margin: 0;
}

.header-item-right-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-color: #fab131;
}

.header-item-right-bottom > p {
  margin: 0;
  font-size: 1rem;
}

.header-item-right-bottom > h3 {
  color: white;
  font-size: 3rem;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  grid-area: nav;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

nav a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: rgb(153, 153, 153);
}

nav > .active {
  color: black;
}

.join-now {
  display: flex;
  flex-direction: row;
  grid-area: join;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 85vh;
  background-color: #a9a19e;
}

.join-now-text-box {
  width: 50%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
  align-items: flex-start;
}

.join-now-text-box h1 {
  color: white;
  font-size: 64px;
}

.join-now-text-box p {
  margin-right: 15%;
  margin-top: 10%;
  line-height: 1.8;
}

.join-now-text-box button {
  padding: 1rem;
  width: 35%;
  border-radius: 1.5rem;
  margin-top: 1.2rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.infoboxes {
  grid-area: info;
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-image: linear-gradient(
    to bottom,
    #a9a19e,
    #a9a19e 50%,
    #fab131,
    #fab131 50%
  );
  background-color: #a9a19e;
  padding-left: 10%;
  padding-right: 10%;
}

.infoboxes > .infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 40px;
  padding-bottom: 40px;
}

.infoboxes .container {
  background-color: white;
  border-radius: 6px;
}

.infoboxes .imgcontainer {
  height: 12vw;
  background-color: #c7ddea;
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

  background-size: cover;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-position-y: 20px;
}

.infoboxes > .infobox h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 22px;
}

.infoboxes > .infobox p {
  font-family: "Fira Sans", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  color: black;
  opacity: 40%;
  font-size: 16px;
  font-weight: bold;
}
.infoboxes .children {
  background-color: #c7ddea;
  background-image: url("assets/child.png");
}
.infoboxes .oldfart {
  background-color: #f17949;
  background-image: url("assets/old.png");
}
.infoboxes .justright {
  background-color: #fab131;
  background-image: url("assets/adult.png");
}

.info {
  display: flex;
  flex-direction: column;
  grid-area: about-us;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 80vh;
  background-color: #fab131;
  text-align: center;
  padding: 10% 20%;
}

.info > h1 {
  color: white;
  font-size: 5rem;
}

.info > p {
  color: rgb(58, 58, 58);
  line-height: 1.8;
  font-size: 1.5rem;
}

.instructions {
  grid-area: instructions;
  grid-column-start: 2;
  grid-column-end: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: 70vh;
  background-color: white;
}

.instructions > .instruction-box-1 {
  display: flex;
  grid-column: 1;
  grid-row: 1;

  justify-content: center;
  align-items: center;

  background-color: #c7ddea;

  color: rgb(20, 20, 20);

  font-size: 2rem;
}

.instructions > .instruction-box-2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1;

  text-align: center;

  background-color: white;

  color: rgb(48, 48, 48);
}

.instructions > .instruction-box-2 > h4 {
  align-self: flex-start;
  font-size: 2rem;
  margin-left: 10%;
}

.instructions > .instruction-box-2 > p {
  align-self: center;
  justify-self: center;

  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.6rem;
}

.instructions > .instruction-box-3 {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1;

  text-align: center;

  background-color: #a9a19e;

  color: rgb(48, 48, 48);
}

.instructions > .instruction-box-3 > h4 {
  align-self: flex-start;
  font-size: 2rem;
  margin-left: 10%;
}

.instructions > .instruction-box-3 > p {
  align-self: center;
  justify-self: center;

  font-size: 1.6rem;
}

.instructions > .instruction-box-4 {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;

  text-align: center;

  background-color: white;

  color: rgb(48, 48, 48);
}

.instructions > .instruction-box-4 > h4 {
  align-self: flex-start;
  font-size: 2rem;
  margin-left: 10%;
}

.instructions > .instruction-box-4 > p {
  align-self: center;
  justify-self: center;

  margin-left: 5%;
  margin-right: 5%;

  font-size: 1.6rem;
}

.instructions > .instruction-box-5 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;

  text-align: center;

  background-color: #f17949;

  color: rgb(48, 48, 48);
}

.instructions > .instruction-box-5 > h4 {
  align-self: flex-start;
  font-size: 2rem;
  margin-left: 10%;
}

.instructions > .instruction-box-5 > p {
  align-self: center;
  justify-self: center;

  font-size: 1.6rem;
}

.instructions > .instruction-box-6 {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 2;

  text-align: center;

  background-color: white;

  color: rgb(48, 48, 48);
}

.instructions > .instruction-box-6 > h4 {
  align-self: flex-start;
  font-size: 2rem;
  margin-left: 10%;
}

.instructions > .instruction-box-6 > p {
  align-self: center;
  justify-self: center;

  font-size: 1.6rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  grid-area: footer;
  grid-column-start: 2;
  grid-column-end: 2;

  height: 40vh;
  background-color: #757575;
}

footer > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
  background-color: #a9a19e;
  width: 100%;
}

footer > a {
  text-decoration: none;
  color: black;

  font-size: 2rem;
  line-height: 0.5;
  font-family: "Fira Sans", sans-serif;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "join"
      "info"
      "about-us"
      "instructions"
      "footer";
  }

  header {
    flex-direction: column;
    height: 180vh;
    width: 100%;
  }

  header > .header-left {
    height: 50%;
    width: 100%;
    background-position: bottom center;
    background-size: 65% 60%;
  }

  header > .header-left > h1 {
    margin-left: 20px;
    text-align: left;
    font-size: 54px;
  }

  header > .header-left > p {
    margin-left: 20px;
    margin-right: 20px;
  }

  header > .header-left > button {
    margin-left: 20px;
    width: 25%;
    padding: 1rem;
  }

  header > .header-right {
    height: 50%;
    width: 100%;
  }

  .join-now {
    flex-direction: column;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .join-now > .join-now-text-box {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .join-now > .join-now-text-box > h1 {
    margin: 0px;
    padding: 20px 5%;
  }

  .join-now > .join-now-text-box > p {
    margin: 0px;
    padding: 20px 5%;
  }

  .join-now > .join-now-text-box > button {
    margin: 20px 5%;
  }

  .infoboxes {
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .infoboxes > .infobox > .container > .imgcontainer {
    height: 32vh;
    background-size: 30%;
  }
}
